body {
  font-family: "Arial", sans-serif;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  animation: fadeIn 1s ease-in-out; /* Animasi untuk body */
}

.container {
  width: 100%;
  max-width: 870px;
  height: auto;
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  box-sizing: border-box;
  transform: scale(1);
  animation: scaleUp 0.5s ease-out; /* Animasi untuk container */
}

h1 {
  color: #a92af3;
  font-size: 2.5em;
  margin-bottom: 20px;
  animation: slideInDown 1s ease; /* Animasi untuk h1 */
}

h2 {
  font-size: 1.8em;
  color: #a92af3;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7),
    -2px -2px 4px rgba(255, 255, 255, 0.7),
    2px -2px 4px rgba(255, 255, 255, 0.7), -2px 2px 4px rgba(255, 255, 255, 0.7);
  animation: slideInDown 1.2s ease; /* Animasi untuk h2 */
}

p {
  font-size: 1.6em;
  color: #083b8a;
  margin-bottom: 30px;
  margin-top: -10px;
  animation: fadeIn 1.5s ease; /* Animasi untuk paragraf */
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  animation: fadeIn 2s ease; /* Animasi untuk container tombol */
}

button {
  padding: 15px 30px;
  font-size: 1em;
  background-color: #a92af3;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  min-width: 150px;
  animation: fadeIn 2s ease; /* Animasi untuk tombol */
}

button:hover {
  background-color: #083b8a;
  transform: scale(1.05);
}

/* Responsif untuk layar lebih kecil dari 768px */
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.4em;
  }

  .button-container {
    flex-direction: column;
    gap: 15px;
  }

  button {
    width: 80%;
    height: 80%;
    padding: 12px;
    font-size: 1.2em;
  }
}

/* Responsif untuk tablet lebih kecil dari 1024px */
@media (max-width: 1024px) {
  .container {
    width: 80%;
    padding-bottom: 25px;
    padding-top: 5px;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }

  .button-container {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  button {
    width: 80%;
    height: 80%;
    padding: 12px;
    font-size: 1.2em;
  }
}

/* Animasi tambahan */
@keyframes slideInDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
